/*  OVERRIDES FOR MATERIALIZE  */
a:hover {
	text-decoration:underline!important;
	color:#000!important;
	background-color:transparent!important;
}

nav {
	box-shadow:none!important;
	height:40px;
	line-height:40px;
	background-color: #ffff00;
}

 a {
	color:#000!important;
	font-weight: 500;
	letter-spacing: 1px;
	cursor: pointer;
}

p {
	font-weight: 500;
	letter-spacing: 2px;	
}

.nav-wrapper {
	display:flex;
	justify-content:center;
}

.dropdown-content {
	top:auto!important;
	background-color:#ee6e73!important;
	box-shadow:none!important;
}

.dropdown-content a {
	color:#000!important;
}

#homepage-content {
}

#homepage-content h5 {
	text-align:center;
}

.card { box-shadow: none !important; }




/* ---------------- STYLING SECTIONS ------------------- */

.show { display: block !important; }


/* NAVBAR SECTION */

#navbar h3 { text-align: center; color: black; margin-bottom: 10px; }
#navbar nav { position: fixed; z-index: 998; }

#navbar .primary-nav { display: flex; justify-content: center; }
#navbar .secondary-nav { display: none; }
#navbar .secondary-nav li:nth-child(n+6) { float: right; }
#navbar nav ul a { letter-spacing: 1px; font-weight: 500; }


/* CONTENT-FEED SECTION */

.wrapper { padding: 180px 0 0 0; }
#content-feed .card .content { text-align: center; padding: 5px; }

/* FOOTER */

#footer { }
#footer footer { background: #ffff00; position: fixed; bottom: 0; z-index: 997; width: 100%; }
#footer footer ul { display: flex; justify-content: center; margin: 5px; }
#footer footer ul li { display: inline; padding: 0px 40px; }

/* INFO SECTION */

#info-section {}
#info-section .wrapper { padding-top: 250px;}
#info-section .info-list { display: flex; justify-content: center; flex-direction: column; }
#info-section .info-list a { font-size: 20px; }
#info-section .info-list li { margin-left: 50%; }

